<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1> J'essaye de respecter les consignes du projet 7 ！！！！！！！！！！！！！</h1>


    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>


    <form action='indicate.cgi' method='POST'>
       Veuillez saisir les caractères ci-dessous<br><br>
      <input type="text"  name="input" ><br><br>
      <input type="submit" name="envoyer">
    </form>
<br>
    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>

    <% result.each do |record| %>
    <% data << "La taille de la courge amère：#{record["weight"]} Qui a vendu：#{record["give_for"]}<br><br>" %>
    <% end %>
<br>
    <form action="goya.cgi" method="POST">
       Appuyez sur le bouton envoyer ci-dessous pour accéder à la page d'informations sur la taille de la courge amère et la personne qui l'a vendu.<br><br>
       <input type="hidden" name="goya" value="<%= data.join(' ') %>">
       <input type="submit" name="Afficher" >
    </form>
<br><br>

      <% result = connection.exec("select * from crops WHERE NOT (give_for ='自家消費');") %>
      <% data = [] %>

      <% result.each do |record| %>
      <% data << "Nature du cessionnaire：#{record["give_for"]} La taille du goya est：#{record["length"]}　son poids est : #{record["weight"]} produit le : #{record["date"]}<br><br>" %>
      <% end %>
<br>
      <form action="datagoyamere.cgi" method="POST">
         Appuyez sur le bouton envoyer ci-dessous pour accéder aux informations sur les goyas dont le cessionnaire n'est pas en autoconsommation.<br><br>
        <input type="hidden" name="datagoyamere" value="<%= data.join(' ') %>">
        <input type="submit" name="afficher">
      </form>
<br><br>

<% result = connection.exec("SELECT * FROM crops WHERE quality=false;") %>
<% data = [] %>
<% result.each do |record| %>
 <%  data << "Qualité：#{record["quality"]} Sa taille est：#{record["length"]}　son poids est : #{record["weight"]} vendu par：#{record["give_for"]} le : #{record["date"]}<br><br>" %>
<% end %>

<br>
      <form action="quality.cgi" method="POST">
         Appuyez sur le bouton envoyer ci-dessous pour accéder à la liste exhaustive des goyas de mauvaise qualité.<br><br>
        <input type="hidden" name="quality" value="<%= data.join(' ') %>">
        <input type="submit" name="afficher">
      </form>

  </body>
</html>
